
@{
    ViewData["Title"] = "Index";
}

<h2>What is ASP.NET core</h2>
<p>It is an open sorce  framework for building the web api</p>

<h3>Comments</h3>
@await Component.InvokeAsync("Comments", new{id=4})


